*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORES */
/* #C0CFE0 - AZUL
   #C5C463 - NARANJA
   #F2AF3F - AMARILLO
   #FFA090 - BEIGE
   #EF5356 - ROJO  
*/

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Gabarito", cursive;
  background-color: #ffffff;
}

/* ESTILOS DE LA BARRA DE NAVEGACIÓN */
nav {
  transition: 1s;
}

.sombra {
  box-shadow: 0px 11px 17px -1px rgba(0, 0, 0, 0.67);
  background-color: #c0cfe0;
  transition: 1s;
}

.nav-first-row .logo {
  width: 15%;
}

.nav-scnd-row {
  /* background-color: #C0CFE0; */
  padding: 1% 0;
}

.nav-link {
  width: 100%;
  color: rgb(128, 128, 128);
}

.nav-link-logo {
  width: 25%;
}

.svg-logo {
  fill: #fff;
}
/* FIN DE ESTILOS DE LA BARRA DE NAVEGACIÓN */

/* ESTILOS DE LAS CARDS */
.cards {
  padding: 5% 1%;
}

.cards .responsive {
  padding: 0 6px;
  width: 25%;
}

.cards .gallery {
  border: 1px solid #ccc;
  border-radius: 8%;
  transition: 0.5s;
}

.cards .gallery:hover {
  border: 1px solid #777;
  scale: 1.04;
}

.cards .gallery img {
  width: 100%;
  height: auto;
  border-radius: 8% 8% 0 0;
}

.cards .desc {
  padding: 15px;
  text-align: center;
}
/* FIN DE LOS ESTILOS DE LAS CARDS */

/* ESTILOS DE ABOUTME */
.aboutme {
  background-color: #f6b4c2;
  padding: 8%;
}

.aboutme p {
  font-size: 2rem;
}
/* FIN DE LOS ESTILOS DE ABOUT ME */

footer {
  height: 20vh;
  background-color: #ef5356;
}

/* MEDIA QUERYS PARA RESPONSIVIDAD */
/* CARDS */
@media (max-width: 500px) {
  .cards .desc {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .cards .desc {
    font-size: 0.6rem;
  }
}

/* ABOUTME */
@media (max-width: 1000px) {
  .aboutme p {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
    .aboutme p {
      font-size: 1rem;
    }
  }

@media (max-width: 600px) {
  .aboutme p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .aboutme p {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .aboutme p {
    font-size: 0.6rem;
  }
}
